@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
    string[] IntroParagraphs = Model.TechnicalAbilities.Introduction.Split('\n');

}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#csharp-index-page">C#</button>
            </div>

            <div class="modal fade" id="csharp-index-page" tabindex="-1" role="dialog" aria-labelledby="csharp-index-page-title" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="csharp-index-page-title">C# Code Behind Pages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <pre>
                                <code class="lang-csharp">
                                    @Model.CSharpCode
                                </code>    
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <img src=@Model.ProfileImage class="img-thumbnail m-1">
                <a class="btn btn-sm btn-block btn-info m-1" asp-area="" asp-page="/Forms/Contact">Contact Me</a>
            </div>

            <div class="col-sm-9">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h4 class="h4">Introduction</h4>

                            @if (IntroParagraphs.Length > 0)
                            {
                                @foreach (string Paragraph in IntroParagraphs)
                                {
                                    if (Paragraph.Trim().Length > 0)
                                    {
                                        <p class="m-0">@Paragraph.Trim()</p>
                                    }
                                    else
                                    {
                                        <br />
                                    }
                                }
                                <br />
                            }
                            <h4 class="h4">Technical Abilities</h4>
                            <p>
                                @Model.TechnicalAbilities.Summary
                            </p>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <div class="list-group shadow-lg" id="list-tab" role="tablist">
                                @if (Model.TechnicalAbilities.ProgrammingLanguages.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action active" id="list-programming-list" data-toggle="list" href="#list-programming" role="tab" aria-controls="programming">Programming Languages</a>
                                }
                                @if (Model.TechnicalAbilities.ScriptingLanguages.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action text-sm-left" id="list-scripting-list" data-toggle="list" href="#list-scripting" role="tab" aria-controls="scripting">Scripting Languages</a>
                                }
                                @if (Model.TechnicalAbilities.DatabaseManagement.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-databases-list" data-toggle="list" href="#list-databases" role="tab" aria-controls="databases">Database Management</a>
                                }
                                @if (Model.TechnicalAbilities.CloudServices.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-cloud-services-list" data-toggle="list" href="#list-cloud-services" role="tab" aria-controls="cluod-services">Cloud Services</a>
                                }
                                @if (Model.TechnicalAbilities.ReportingTools.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-reporting-list" data-toggle="list" href="#list-reporting" role="tab" aria-controls="cluodservices">Reporting</a>
                                }
                                @if (Model.TechnicalAbilities.EtlTools.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-integration-list" data-toggle="list" href="#list-integration" role="tab" aria-controls="integration">ETL Tools</a>
                                }
                                @if (Model.TechnicalAbilities.Architectures.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-architectures-list" data-toggle="list" href="#list-architectures" role="tab" aria-controls="architectures">Architecture</a>
                                }
                                @if (Model.TechnicalAbilities.DesignPatterns.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-design-patterns-list" data-toggle="list" href="#list-design-patterns" role="tab" aria-controls="design-patterns">Design Patterns</a>
                                }
                                @if (Model.TechnicalAbilities.Networking.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-networking-list" data-toggle="list" href="#list-networking" role="tab" aria-controls="networking">Networking</a>
                                }
                                @if (Model.TechnicalAbilities.Other.Count > 0)
                                {
                                    <a class="list-group-item list-group-item-action" id="list-other-list" data-toggle="list" href="#list-other" role="tab" aria-controls="other">Other</a>
                                }
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="tab-content" id="nav-tabContent">
                                @if (Model.TechnicalAbilities.ProgrammingLanguages.Count > 0)
                                {
                                    <div class="tab-pane fade show active" id="list-programming" role="tabpanel" aria-labelledby="list-programming-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.ProgrammingLanguages.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.ProgrammingLanguages[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.ProgrammingLanguages[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.ScriptingLanguages.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-scripting" role="tabpanel" aria-labelledby="list-scripting-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.ScriptingLanguages.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.ScriptingLanguages[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.ScriptingLanguages[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.DatabaseManagement.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-databases" role="tabpanel" aria-labelledby="list-databases-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.DatabaseManagement.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.DatabaseManagement[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.DatabaseManagement[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.CloudServices.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-cloud-services" role="tabpanel" aria-labelledby="list-cloud-services-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.CloudServices.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.CloudServices[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.CloudServices[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.ReportingTools.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-reporting" role="tabpanel" aria-labelledby="list-reporting-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.ReportingTools.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.ReportingTools[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.ReportingTools[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.EtlTools.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-integration" role="tabpanel" aria-labelledby="list-integration-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.EtlTools.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.EtlTools[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.EtlTools[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.Architectures.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-architectures" role="tabpanel" aria-labelledby="list-architectures-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.Architectures.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.Architectures[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.Architectures[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.DesignPatterns.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-design-patterns" role="tabpanel" aria-labelledby="list-design-patterns-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.DesignPatterns.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.DesignPatterns[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.DesignPatterns[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.TechnicalAbilities.Networking.Count > 0)
                                {
                            <div class="tab-pane fade" id="list-networking" role="tabpanel" aria-labelledby="list-networking-list">
                                @for (int i = 0; i < Model.TechnicalAbilities.Networking.Count;i++)
                                {
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h6 class="h6 small">@Model.TechnicalAbilities.Networking[i].Technology</h6>
                                        </div>
                                        <div class="col-sm-10">
                                            <p class="small">
                                                @Model.TechnicalAbilities.Networking[i].TechnologyUse
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                                }
                                @if (Model.TechnicalAbilities.Other.Count > 0)
                                {
                                    <div class="tab-pane fade" id="list-other" role="tabpanel" aria-labelledby="list-other-list">
                                        @for (int i = 0; i < Model.TechnicalAbilities.Other.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="h6 small">@Model.TechnicalAbilities.Other[i].Technology</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="small">
                                                        @Model.TechnicalAbilities.Other[i].TechnologyUse
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <h4 class="h4">Questions I Like to Debate?</h4>
                    <ul>
                        <li>
                            ORM (Object Relation Mapping) vs Database Project Implementation?
                        </li>
                        <li>
                            MVC, a Design Pattern or an Architecture Pattern?
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
