@page
@model ResumeService.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

    <div class="container-fluid">
        <div class="text-center">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#csharp-project-page">C#</button>
        </div>

        <div class="modal fade" id="csharp-project-page" tabindex="-1" role="dialog" aria-labelledby="csharp-project-page-title" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="csharp-project-page-title">C# Code Behind Pages</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <pre>
                            <code class="lang-csharp">
                                @Model.CSharpCode
                            </code>    
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-2">
        <div class="accordion" id="project-experience">
            @foreach (var Project in Model.Projects)
            {

                <div class="card">
                    <div class="card-header" id="header-@Project.EntryID">
                        <h2 class="mb-0">
                            <button class="btn btn-dark btn-block text-center" type="button" data-toggle="collapse" data-target="#project-@Project.EntryID" aria-expanded="true" aria-controls="project-@Project.EntryID">
                                @Project.ProjectTitle
                            </button>
                        </h2>
                    </div>

                    <div id="project-@Project.EntryID" class="collapse" aria-labelledby="header-@Project.EntryID" data-parent="#project-experience">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col">
                                    <h6 class="font-italic small m-0">Timeline: @Project.StartMonth @Project.StartYear - @Project.EndMonth @Project.EndYear</h6>
                                    <h6 class="font-italic small m-0">Company: @Project.Company</h6>
                                    <h6 class="h6 mt-2 mb-2">Project Overview</h6>
                                    <p class="small">
                                        @Project.Overview
                                    </p>
                                </div>
                            </div>

                            <div class="row m-2">
                                <div class="col-6">
                                    <h6 class="h6">Technologies Utilized</h6>
                                    <ul>
                                        @foreach (var technology in Project.Technology)
                                        {
                                            <li class="small">
                                                @technology
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h6 class="h6">Languages Utilized</h6>
                                    <ul>
                                        @foreach (var language in Project.Languages)
                                        {
                                            <li class="small">
                                                @language
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
